@import "./variables";

body {
  color: $text-color-darker;

  @media (max-width: 576px) {
    font-size: 0.8em;
  }
}

header {
  margin-bottom: 4em;
  padding: 0.5em 0;
  border-bottom: 1px solid $outer-border-color;

  h1 {
    text-align: center;
    font-size: 3.5em;
  }

  .right-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    @media (max-width: 992px) {
      justify-content: center;
    }

    .icon {
      font-size: xx-large;
      color: $text-color-darker;

      &:first-of-type {
        margin-left: 0.6em;
      }
    }
  }
}

#language-selector {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  .dropdown-menu {
    padding: 0;
    border: 1px solid $outer-border-color;
    overflow: hidden;

    div {
      padding: 0.2em 0.8em;
      transition: background-color 0.2s linear;
      cursor: pointer;

      &:hover {
        background-color: lightgray;
      }
    }

    .item span:first-child {
      outline: 1px solid gray;
      margin-right: 0.3em;
    }
  }

  button {
    border-color: $outer-border-color;

    &:focus {
      //noinspection SassScssUnresolvedVariable
      border-color: $dark;
    }

    i {
      outline: 1px solid gray;
    }
  }
}

#headline {
  font-size: 1.8em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 1.4em;
}

.search-component {
  .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 4em;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    @media (max-width: 576px) {
      padding: 0 2em;
    }

    > div {
      margin: 0 2em;
      width: 480px;

      @media (max-width: 576px) {
        width: 100%;
      }
    }

    div input[type="text"] {
      padding: 0.5em;
      font-size: x-large;
      text-align: center;
      transition: none;
      border-width: 1px;
      box-shadow: $input-box-shadow;

      @media (max-width: 576px) {
        font-size: 1.6em;
      }

      &.hints-visible {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    i {
      font-size: xxx-large;
      transition: all 0.2s ease-in-out;

      @media (max-width: 992px) {
        transform: rotateZ(90deg);
      }
    }
  }

  button {
    font-size: x-large;
    font-weight: bold;
    padding: 0.7em 2.5em;
    text-transform: uppercase;
  }

  .loader {
    text-align: center;
  }
}

.search-hints-container {
  position: relative;

  .search-hints {
    position: absolute;
    width: 100%;
    z-index: 100;
    background: white;
    border: 1px solid $search-box-border-color;
    box-shadow: $search-box-focus-shadow;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    .search-hint {
      padding: 0.5em;
      cursor: pointer;

      &:hover {
        background-color: #cbcbcb;
      }

      &:not(:last-child) {
        border-bottom: 1px solid lightgray;
      }

      .title {
        margin: 0;
        font-size: medium;
        font-weight: 500;
      }

      .description {
        margin: 0;
        font-size: smaller;
        font-style: italic;

        // Show max 1 line
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .image-wrapper {
        width: 3em;
        min-width: 3em;
        margin-right: 1em;
        text-align: center;
      }

      img {
        width: 3em;
        height: 3em;
        object-fit: contain;
        border: 1px solid $inner-border-color;
        border-radius: 0.5em;
      }
    }
  }
}
