header {
    margin-bottom: 4em;
}

header h1 {
    text-align: center;
    font-size: 3.5em;
}

#language-selector {
    margin-top: 0.7em;
    text-align: right;
}

#language-selector .dropdown-menu {
    padding: 0;
    border: 1px solid rgba(0,0,0,.15);
}

#language-selector .dropdown-menu div {
    padding: 0.3em;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

#language-selector .dropdown-menu div:hover {
    background-color: lightgray;
}

.search-component {

}

.search-component .inputs {
    margin-top: 1em;
    margin-bottom: 4em;
}

.search-component .inputs > div {
    margin: 0 2em;
    width: 100%;
}

.search-component .inputs div input[type="text"] {
    padding: 0.5em;
    font-size: larger;
    text-align: center;
}

.search-component button {
    font-size: x-large;
    font-weight: bold;
    padding: 0.7em 2.5em;
    text-transform: uppercase;
}

.search-component .loader {
    text-align: center;
}

.search-hints-container {
    position: relative;
}

.search-hints {
    border: 1px solid black;
    position: absolute;
    z-index: 100;
    background: white;
    width: 100%;
}

.search-hint {
    padding: 0.5em;
    cursor: pointer;
}

.search-hint:hover {
    background-color: #cbcbcb;
}

.search-hint .title {
    margin: 0;
    font-size: medium;
    font-weight: bold;
}

.search-hint .description {
    margin: 0;
    font-size: smaller;
}

.search-hint:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.search-hint .image-wrapper {
    width: 3em;
    min-width: 3em;
    margin-right: 1em;
    text-align: center;
}

.search-hint .image-wrapper img {
    max-width: 3em;
    max-height: 3em;
    width: auto;
    height: auto;
    border: 1px solid gray;
    border-radius: 0.5em;
}

.search-result {
    margin-top: 4em;
}

.search-result .result-description {
    width: 50%;
    text-align: center;
    font-size: large;
    margin: auto auto 3em;
}

.search-result .result-description .search-duration {
    position: relative;
}

.search-result .result-description .search-duration .details-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 1em);

    transition: opacity 0.2s linear, visibility 0.2s linear;
    visibility: hidden;
    opacity: 0;
}

.search-result .result-description .search-duration .details-container.visible {
    visibility: visible;
    opacity: 1;
}

.search-result .result-description .search-duration .details-container:before {
    content: " ";
    position: absolute;
    border: 2px solid black;
    background-color: #e5e5e5;
    width: 1em;
    height: 1em;
    left: calc(50% - 0.5em);
    top: -0.5em;
    transform: rotate(45deg);
}

.search-result .result-description .search-duration .details-container .details {
    position: relative;
    display: table;
    z-index: 2;
    white-space: nowrap;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 0.5em;
    font-size: 0.9em;
    background-color: #e5e5e5;
}

.search-result .result-description .search-duration .details-container .details > div {
    display: table-row;
}

.search-result .result-description .search-duration .details-container .details > div > span {
    display: table-cell;
    padding-right: 0.8em;
    text-align: end;
}

.search-result .result-description .search-duration .details-container .details > div > strong {
    display: table-cell;
}

.search-result .found-paths-text {
    text-align: center;
    margin-bottom: 1em;
    font-size: large;
}

.search-result .path {
    margin: 1em 0;
    overflow: hidden;
}

.search-result .path .page {
    position: relative;
    width: 16%;
    border: 1px solid black;
    cursor: pointer;
}

.search-result .path .page .content {
    position: relative;
    height: 100%;
    padding: 0.6em;
    background-color: white;
    z-index: 100;
}

.search-result .path .page .content:hover {
    background-color: lightgray;
}

.search-result .path .page .content img {
    max-width: 3em;
    max-height: 3em;
    width: auto;
    height: auto;
    border: 1px solid gray;
    border-radius: 0.5em;
}

.search-result .path .page .content .header {
    margin-bottom: 0.5em;
}

.search-result .path .page .connector {
    position: absolute;
    height: 1px;
    top: 50%;
    width: 100%;
    background-color: black;
    z-index: 1;
}

.search-result .path .page .connector.left {
    left: -100%;
}

.search-result .path .page .connector.right {
    left: 100%;
}

.search-result .path .page.first:after {
    content: " ";
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    top: calc(50% - 0.29em);
    left: calc(100% - 0.3em);
    background-color: black;
    border-radius: 100%;
}

.search-result .path .page.last:before {
    content: " ";
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    top: calc(50% - 0.29em);
    left: -0.3em;
    background-color: black;
    border-radius: 100%;
}

.search-result .path .page:not(.first):not(.last):before {
    content: " ";
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    top: calc(50% - 0.15em);
    left: -0.2em;
    background-color: black;
    border-radius: 100%;
}

.search-result .path .page:not(.first):not(.last):after {
    content: " ";
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    top: calc(50% - 0.15em);
    left: calc(100% - 0.1em);
    background-color: black;
    border-radius: 100%;
}

.search-result .path .page .title {
    margin: 0 0 0 0.75em;
    font-size: medium;
    font-weight: bold;
}

.search-result .path .page .description {
    margin: 0;
    font-size: smaller;
    color: gray;
    font-style: italic;
}

.more-paths {
    text-align: center;
    margin-bottom: 2em;
}

#links-graph-container {
    width: 70%;
    border: 1px solid gray;
    margin: auto auto 2em;
}
