$text-color-darker: #343d4a;
$search-box-border-color: #dfdfdf;
$search-box-focus-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);

$outer-border-color: rgb(218, 220, 224);
$inner-border-color: $outer-border-color;
$border-radius: 0.6em;

// Override Bootstrap variables
$input-box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
$input-focus-border-color: $search-box-border-color;
$input-focus-box-shadow: $search-box-focus-shadow;
