#!/bin/bash

mkdir /app || exit 1
cd /app || exit 1

download_executable () {
  prefix=$1
  fileName=$(aws s3 ls "s3://${bucket}/$prefix/" | grep jar | sort -r | tr -s ' ' | cut -d' ' -f4 | head -n 1)
  aws s3 cp "s3://${bucket}/$prefix/$fileName" .
}

download_executable generator

export DATABASES_DIRECTORY=/data/databases
export WORKING_DIRECTORY=/data/dumps
export BATCH_MODE=true

java -XX:+UseContainerSupport -XX:MaxRAMPercentage=80.0 -XX:ActiveProcessorCount=2 -jar "$fileName" 20200620
